[tool.black]
line-length = 100
target-version = ["py39"]

[tool.isort]
profile = "black"
line_length = 100
multi_line_output = 3
include_trailing_comma = true

[tool.ruff]
line-length = 100
select = ["E", "F", "I", "B", "Q", "W"]
ignore = ["E203"]

[tool.flake8]
max-line-length = 100
extend-ignore = ["E203", "W503"]
